@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: auto;
    scroll-behavior: smooth;

    @apply font-generalSans
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.7;
    font-size: 17px;
    @apply mobile:text-[16px]
}

.swiper-slide{
    @apply !w-full
}

.site-container {
    max-width: 1440px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @apply desktop:max-w-[1300px]
}

.site-container {
    @apply desktop_sm:max-w-[1200px]
}



figure {
    @apply w-full h-[500px] tablet:h-[400px] mobile:h-[300px]
}

figure img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: fill;
    object-position: center center;
}

.ctaBtn{
    font-size: 14px;
    padding: 0 35px;
    height: 55px;
    text-transform: uppercase;
    text-align: center;
    @apply laptop:h-[50px]
}

h1,h2,h3,h4,h5,h6 {
    line-height: normal
}